<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>注册 - 惠农 - </title>
	<meta author="软工1702">
	<link rel="stylesheet" type="text/css" th:href="@{/test/style/register-login.css}">
	<link rel="icon" th:href="@{/test/images/1.png}"/>
	<style>
		.hello{
			color:#F00;
			/*border:1px solid #eee;*/
			/*height:15px;*/
			font-size:12px
		}
		.he{
		    border:1px solid #eee;
		}
	</style>
	<!--控制cookie填充后的背景填充-->
	<style type="text/css">
            input:-webkit-autofill {
                  box-shadow: 0 0 0px 1000px white inset !important;
            }
    </style>
</head>
<body>
<div id="box"></div>
<div class="cent-box register-box">
	<div class="cent-box-header">
		<h1 class="main-title hide">惠农</h1>
		<h2 class="sub-title">惠农有网，农品共享</h2>
	</div>

	<div class="cont-main clearfix">
		<div class="index-tab">
			<div class="index-slide-nav">
				<a th:href="@{/login}">登录</a>
				<a th:href="@{/register}" class="active">注册</a>
				<div class="slide-bar slide-bar1"></div>				
			</div>
		</div>

		<form th:action="@{/register}" method="post">
			<div class="login form">
				<div class="group">
					<div class="group-ipt email">
						<input class="input:-webkit-autofill" type="email" name="email" id="email" th:value="${user!=null?user.email:''}" th:class="|ipt ${emailMsg!=null?'is-invalid':''}|" placeholder="邮箱地址" required >
					</div>
					<div class="hello invalid-feedback" th:text="${emailMsg}">
						该邮箱已注册!
					</div>

					<div class="group-ipt user">
						<input type="text" name="username" id="user" th:value="${user!=null?user.username:''}" th:class="|ipt ${usernameMsg!=null?'is-invalid':''}|" placeholder="选择一个用户名" required>
					</div>
					<div class="hello invalid-feedback" th:text="${usernameMsg}">
						该账号已存在!
					</div>

					<div class="group-ipt password">
						<input type="password" name="password" id="password" th:value="${user!=null?user.password:''}" th:class="|ipt ${passwordMsg!=null?'is-invalid':''}|" placeholder="设置登录密码" required>
					</div>
					<div class="hello invalid-feedback" th:text="${passwordMsg}">
						密码长度不能小于8位!
					</div>
<!--					id="confirm-password"-->
					<div  class="group-ipt password1 he">
						<input type="password" name="confirmPassword"  th:class="|ipt ${passwordMsg1!=null?'is-invalid':''}|" placeholder="重复密码" required>
					</div>
					<div class="hello invalid-feedback" th:text="${passwordMsg1}">
						两次输入的密码不一致!
					</div>

					<div class="group-ipt verify">
						<input type="text" name="code" id="verify" th:class="|ipt ${codeMsg!=null?'is-invalid':''}|" placeholder="输入验证码" required>
						<div class="hello invalid-feedback" th:text="${codeMsg}">
							验证码不正确!
						</div>
						<!--验证码图片-->
						<img th:src="@{/kaptcha}" id="kaptcha" class="imgcode">
					</div>
				</div>
			</div>

			<div class="button">
				<button type="submit" class="login-btn register-btn" id="button">注册</button>
			</div>
		</form>

	</div>
</div>

<div class="footer">
	<p>惠农网</p>
	<p>Designed By 软工1702 & <a href="https://github.com/NULL2048/Agricultural_Community">CY's GitHub</a></p>
</div>

<script th:src='@{/test/js/particles.js}' type="text/javascript"></script>
<script th:src='@{/test/js/background.js}' type="text/javascript"></script>
<script th:src='@{/test/js/jquery.min.js}' type="text/javascript"></script>
<script th:src='@{/test/js/layer/layer.js}' type="text/javascript"></script>
<script th:src='@{/test/js/index.js}' type="text/javascript"></script>
<script>
	$('.imgcode').hover(function(){
		layer.tips("看不清？点击更换", '.verify', {
        		time: 6000,
        		tips: [2, "#3c3c3c"]
    		})
	},function(){
		layer.closeAll('tips');
	}).click(function(){
		var path = "/ac" + "/kaptcha?p=" + Math.random();
		// 下面这个方法是把path写入到上面那个验证码标签的src中去
		$(this).attr('src',path);
		// #后面是取的id,这里的this就是表示的当前这个标签，将这个id的标签中的src属性内容换成path的内容，path的路径就去访问LoginController中那个生成验证码的方法，它获取的
	});

	$(".login-btn").click(function(){
		var email = $("#email").val();
		var password = $("#password").val();
		var verify = $("#verify").val();
		// $.ajax({
		// url: 'http://www.zrong.me/home/index/userLogin',
		// type: 'post',
		// jsonp: 'jsonpcallback',
  //       jsonpCallback: "flightHandler",
		// async: false,
		// data: {
		// 	'email':email,
		// 	'password':password,
		// 	'verify':verify
		// },
		// success: function(data){
		// 	info = data.status;
		// 	layer.msg(info);
		// }
		// })

	})
	$("#remember-me").click(function(){
		var n = document.getElementById("remember-me").checked;
		if(n){
			$(".zt").show();
		}else{
			$(".zt").hide();
		}
	})
</script>
<script>
	function check_data() {
		var pwd1 = $("#password").val();
		var pwd2 = $("#confirm-password").val();
		if(pwd1 != pwd2) {
			$("#confirm-password").addClass("is-invalid");
			return false;
		}
		return true;
	}
</script>
</body>
</html>