<!DOCTYPE html>
<!--[if IE 6]>
<html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]>
<html class="ie ie8"><![endif]-->
<!--[if IE 9]>
<html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html> <!--<![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">

    <!-- Start of Baidu Transcode -->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta name="applicable-device" content="pc,mobile">
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="mobile-agent" content="format=html5;url=http://www.jianshu.com/settings/basic">
    <!-- End of Baidu Transcode -->


    <meta name="360-site-verification" content="604a14b53c6b871206001285921e81d8"/>
    <meta property="wb:webmaster" content="294ec9de89e7fadb"/>
    <meta property="qc:admins" content="104102651453316562112116375"/>
    <meta property="qc:admins" content="11635613706305617"/>
    <meta property="qc:admins" content="1163561616621163056375"/>
    <meta name="google-site-verification" content="cV4-qkUJZR6gmFeajx_UyPe47GW9vY6cnCrYtCHYNh4"/>
    <meta name="google-site-verification" content="HF7lfF8YEGs1qtCE-kPml8Z469e2RHhGajy6JPVy5XI"/>
    <meta http-equiv="mobile-agent" content="format=html5; url=http://www.jianshu.com/settings/basic">

    <!-- Apple -->
    <meta name="apple-mobile-web-app-title" content="惠农">

    <link rel="icon" th:href="@{/test/images/1.png}"/>
    <title>设置 - 惠农</title>

    <meta name="csrf-param" content="authenticity_token"/>
    <meta name="csrf-token"
          content="rtirhaGGZc0M8oEjMwxkBMPyiV9rYhFodUVPhMvpbPR/4V3S20s9IlpBQSk9nQ4apHlnKTdpF4HQ6rFEbvbL2A=="/>

    <link rel="stylesheet" media="all" th:href="@{/test/assets/web-e7e403d2843dd1edd8db.css}"/>

    <link rel="stylesheet" media="all" th:href="@{/test/assets/web/pages/settings/index/entry-7b434205f766417bd833.css}"/>

    <link th:href="@{/test//cdn2.jianshu.io/assets/favicons/favicon-03411b154a430b85d807b4366489c21122fb983a38f3d7ca926f882e6367b13e.ico}"
          rel="icon">
    <link rel="apple-touch-icon-precomposed"
          th:href="@{/test//cdn2.jianshu.io/assets/apple-touch-icons/57-a6f1f1ee62ace44f6dc2f6a08575abd3c3b163288881c78dd8d75247682a4b27.png}"
          sizes="57x57"/>
    <link rel="apple-touch-icon-precomposed"
          th:href="@{/test//cdn2.jianshu.io/assets/apple-touch-icons/72-fb9834bcfce738fd7b9c5e31363e79443e09a81a8e931170b58bc815387c1562.png}"
          sizes="72x72"/>
    <link rel="apple-touch-icon-precomposed"
          th:href="@{/test//cdn2.jianshu.io/assets/apple-touch-icons/76-49d88e539ff2489475d603994988d871219141ecaa0b1a7a9a1914f4fe3182d6.png}"
          sizes="76x76"/>
    <link rel="apple-touch-icon-precomposed"
          th:href="@{/test//cdn2.jianshu.io/assets/apple-touch-icons/114-24252fe693524ed3a9d0905e49bff3cbd0228f25a320aa09053c2ebb4955de97.png}"
          sizes="114x114"/>
    <link rel="apple-touch-icon-precomposed"
          th:href="@{/test//cdn2.jianshu.io/assets/apple-touch-icons/120-1bb7371f5e87f93ce780a5f1a05ff1b176828ee0d1d130e768575918a2e05834.png}"
          sizes="120x120"/>
    <link rel="apple-touch-icon-precomposed"
          th:href="@{/test//cdn2.jianshu.io/assets/apple-touch-icons/152-bf209460fc1c17bfd3e2b84c8e758bc11ca3e570fd411c3bbd84149b97453b99.png}"
          sizes="152x152"/>

<!--    <link rel="stylesheet" th:href="@{/css/global.css}" />-->
<!--    <link rel="stylesheet" th:href="@{/css/login.css}" />-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">-->
    <style>
        .hello{
            color:#F00;
            /*border:1px solid #eee;*/
            /*height:15px;*/
            font-size:12px
        }
    </style>

</head>



<body lang="zh-CN" class="reader-black-font">
<!-- 全局顶部导航栏 -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="width-limit">
        <!-- 左上方 Logo -->
        <a class="logo" th:href="@{/index}"><img th:src="@{/test/assets/web/44.png}" alt="Logo"/></a>
        <!-- 右上角 -->
        <!-- 未登录显示登录/注册/写文章 -->
        <a class="btn write-btn" target="_blank" href="javascript:;">
            <i class="iconfont ic-write"></i>写文章
        </a>
        <a class="btn sign-up" th:href="@{/register}" th:if="${loginUser == null}">注册</a>
        <a class="btn log-in" th:href="@{/login}" th:if="${loginUser == null}">登录</a>

        <!-- 如果用户登录，显示下拉菜单 下面这个div就是下拉菜单的位置-->
        <div class="user" th:if="${loginUser != null}">
            <!--用户头像-->
            <div data-hover="dropdown">
                <a class="avatar" href="javascript:;">
                    <img th:src="${loginUser.headerUrl}" alt="120"/>
                </a>
            </div>
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:;">
                        <i class="iconfont ic-navigation-profile"></i><span>我的主页</span>
                    </a>
                </li>
                <li>
                    <!-- TODO bookmarks_path -->
                    <a href="javascript:;">
                        <i class="iconfont ic-navigation-mark"></i><span>收藏的文章</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont ic-navigation-like"></i><span>喜欢的文章</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont ic-navigation-wallet"></i><span>我的钱包</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/setting/basic}">
                        <i class="iconfont ic-navigation-settings"></i>
                        <span>设置</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont ic-navigation-feedback"></i><span>帮助与反馈</span>
                    </a>
                </li>
                <li>
                    <a rel="nofollow" th:href="@{/logout}">
                        <i class="iconfont ic-navigation-signout"></i>
                        <span>退出</span>
                    </a>
                </li>
            </ul>
        </div>

        <!--导航栏夜间模式按钮-->
        <div id="view-mode-ctrl">
        </div>

        <!--这个使导航栏左边的首页，下载app按钮。没有登陆时显示-->
        <div class="container" th:if="${loginUser == null}">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu"
                        aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a th:href="@{/index}">
                            <span class="menu-text">首页</span>
                            <i class="iconfont ic-navigation-discover menu-icon"></i>
                        </a>
                    </li>
                    <li class="">
                        <a class="app-download-btn" href="javascript:;"><span class="menu-text">下载App</span><i
                                class="iconfont ic-navigation-download menu-icon"></i></a>
                    </li>
                    <!--搜索栏-->
                    <li class="search">
                        <form target="_blank" action="/search" accept-charset="UTF-8" method="get"><input name="utf8"
                                                                                                          type="hidden"
                                                                                                          value="&#x2713;"/>
                            <input type="text" name="q" id="q" value="" autocomplete="off" placeholder="搜索"
                                   class="search-input"/>
                            <a class="search-btn" href="javascript:void(null)"><i class="iconfont ic-search"></i></a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <!--导航栏左边的发现，关注，消息按钮 登录时显示-->
        <div class="container" th:if="${loginUser != null}">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu"
                        aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="javascript:;">
                            <span class="menu-text">发现</span>
                            <i class="iconfont ic-navigation-discover menu-icon"></i>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;">
                            <span class="menu-text">关注</span>
                            <i class="iconfont ic-navigation-follow menu-icon"></i>
                        </a>
                    </li>
                    <li class="notification v-notification-dropdown-menu">
                        <a class="notification-btn" href="javascript:;" data-hover="dropdown">
                            <span class="menu-text">消息</span>
                            <i class="iconfont ic-navigation-notification menu-icon"></i>
                            <span class="badge"></span>
                        </a>
                    </li>
                    <!--导航栏搜索框-->
                    <li class="search">
                        <form target="_blank" action="/search" accept-charset="UTF-8" method="get">
                            <input name="utf8" type="hidden" value="&#x2713;"/>
                            <input type="text" name="q" id="q" value="" autocomplete="off" placeholder="搜索"
                                   class="search-input"/>
                            <a class="search-btn" href="javascript:void(null)">
                                <i class="iconfont ic-search"></i>
                            </a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>



<!--<div id="app">-->
<!--    <app></app>-->
<!--</div>-->


<div class="container setting">
    <div class="row">
        <div class="aside">
            <ul>
                <li class="router-link-exact-active active">
                    <a th:href="@{/user/setting/basic}">
                        <div class="setting-icon">
                            <i class="iconfont ic-settings-basic">
                            </i>
                        </div>
                        <span>基础设置</span> <!---->
                    </a>
                </li>
                <li >
                    <a href="/settings/profile">
                        <div class="setting-icon">
                            <i class="iconfont ic-settings-profile"></i>
                        </div>
                        <span>个人资料</span> <!---->
                    </a>
                </li>
                <li class="">
                    <a href="/settings/weibo-auth">
                        <div class="setting-icon">
                            <i class="iconfont ic-settings-verify"></i>
                        </div>
                        <span>微博认证</span> <!---->
                    </a>
                </li>
                <li class="">
                    <a href="/settings/blacklist">
                        <div class="setting-icon">
                            <i class="iconfont ic-settings-block"></i>
                        </div>
                        <span>黑名单</span> <!---->
                    </a>
                </li>
                <li class="">
                    <a href="/settings/reward-setting">
                        <div class="setting-icon">
                            <i class="iconfont ic-settings-money"></i>
                        </div>
                        <span>赞赏设置</span> <!---->
                    </a>
                </li>
                <li class="">
                    <a href="/settings/misc">
                        <div class="setting-icon">
                            <i class="iconfont ic-settings-account"></i>
                        </div>
                        <span>帐号管理</span> <!---->
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-16 col-xs-offset-8 main">
<!--        <div class="loading">-->

            <!-- 内容 -->
            <div class="main">
                <div class="container p-5 mt-3 mb-3">
                    <!-- 上传头像 -->
                    <h4 class="text-left text-info border-bottom pb-2">上传头像</h4>
                    <hr/>
                    <form class="mt-5" method="post" enctype="multipart/form-data" th:action="@{/user/upload}">
                        <div class="form-group row mt-4">
                            <label for="head-image" class="col-sm-2 col-form-label text-right">选择头像:</label>
                            <div class="col-sm-10">
                                <div class="custom-file">
                                    <input type="file" th:class="|custom-file-input ${error!=null?'is-invalid':''}|"
                                           id="head-image" name="headerImage" lang="es" required="">
<!--                                    <label class="custom-file-label" for="head-image" data-browse="文件"></label>-->
                                    <div class="invalid-feedback" th:text="${error}">
                                        该账号不存在!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mt-4">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10 text-center">
                                <button type="submit" class="btn btn-info text-white form-control">立即上传</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <!-- 修改密码 -->
                    <h4 class="text-left text-info border-bottom pb-2 mt-5">修改密码</h4>
                    <hr/>
                    <form class="mt-5">
                        <div class="form-group row mt-4">
                            <label for="old-password" class="col-sm-2 col-form-label text-right">原密码:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="old-password" placeholder="请输入原始密码!" required>
<!--                                <div class="hello invalid-feedback">-->
<!--                                    密码长度不能小于8位!-->
<!--                                </div>-->
                            </div>
                        </div>
                        <div class="form-group row mt-4">
                            <label for="new-password" class="col-sm-2 col-form-label text-right">新密码:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="new-password" placeholder="请输入新的密码!" required>
<!--                                <div class="hello invalid-feedback">-->
<!--                                    密码长度不能小于8位!-->
<!--                                </div>-->
                            </div>
                        </div>
                        <div class="form-group row mt-4">
                            <label for="confirm-password" class="col-sm-2 col-form-label text-right">确认密码:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="confirm-password" placeholder="再次输入新密码!" required>
<!--                                <div class="hello invalid-feedback">-->
<!--                                    两次输入的密码不一致!-->
<!--                                </div>-->
                            </div>
                        </div>
                        <div class="form-group row mt-4">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10 text-center">
                                <button type="submit" class="btn btn-info text-white form-control">立即保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
<!--        </div>-->
        </div>





    </div>
</div>

<script type="application/json" data-name="page-data">{
    "user_signed_in": true,
    "locale": "zh-CN",
    "os": "windows",
    "read_mode": "day",
    "read_font": "font2",
    "current_user": {
        "id": 6630618,
        "nickname": "素材火",
        "slug": "118bc51c1554",
        "avatar": "http://cdn2.jianshu.io/assets/default_avatar/1-04bbeead395d74921af6a4e8214b4f61.jpg",
        "unread_counts": {
            "chats": 1,
            "total": 1
        }
    }
}</script>

<script th:src="@{/test/assets/babel-polyfill-8053f0c4c81c27b7aff2.js}"></script>
<!--<script th:src="@{/test/assets/web-base-56ae9a35f46128b5c879.js}"></script>-->
<script th:src="@{/test/assets/web-6f284f71bf6839d4fe98.js}"></script>
<script th:src="@{/test/assets/jquery-fileupload-e30d3b82f31400324710b6143f7557e694ae5fb5b6ed2ad033fbd72e10fd3ca1.js}"></script>

<script th:src="@{/test/assets/web/pages/settings/index/entry-66b1f4c37ef009ccb267.js}"></script>

</body>
</html>
